{% extends 'base.html.twig' %}

{% block title %}Available Exams{% endblock %}
{% block javascripts %}
  {% block importmap %}{{ importmap('student') }}{% endblock %}
{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
{% block body %}
<style>
    /* .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } */
</style>
<div class="container available-exams-container">
  <div class="exams-available">
    <table class="table table-striped table-bordered">
    <thead>
      <td>Sl. No.</td>
      <td>Exam Name</td>
      <td>Exam Number</td>
      <td>Exam Duration</td>
      <td>Eligibility Marks</td>
      <td>Passing Marks</td>
      <td>Created By</td>
      {# <td>Contact company</td> #}
      {# <td>Operation</td> #}
    </thead>
    {% for examInfo in exam %}
      <tr>
        <td>{{examInfo.id}}</td>
        <td>{{examInfo.ExamName}}</td>
        <td>{{examInfo.ExamNumber}}</td>
        <td>{{examInfo.ExamDuration}} hours</td>
        <td>{{examInfo.EligibilityMarks}}%</td>
        <td>{{examInfo.PassingMarks}}%</td>
        <td>{{examInfo.CreatedBy}}</td>
        {# <td>{{examInfo.CreatorEmail}}%</td> #}
        {# <td><a href="{{path('createExam', {'examNumber':examInfo.ExamNumber})}}">Add Question</a></td> #}
      </tr>
    {% endfor %}
  </div>
  
    {# <div class="exams-created">
      <div class="info">
        <span>Exam Name: {{examInfo.ExamName}}</span>
      </div>
      <div class="info">
        <span>Exam Number: {{examInfo.ExamNumber}}</span>
      </div>
      <div class="info">
        <span>Exam Duration: {{examInfo.ExamDuration}}</span>
      </div>
      <div class="info">
        <span>Passing Marks: {{examInfo.PassingMarks}}</span>
      </div>
      <div class="info">
        <span>Created By: {{examInfo.CreatedBy}}</span>
      </div>
      <div class="info">
        <span>Eligibility Marks: {{examInfo.EligibilityMarks}}%</span>
      </div>
      <div class="info">
        <span>Creator Email: {{examInfo.CreatorEmail}}</span>
      </div>
    </div> #}
  
  </table>
  <span><a href="/student">Go to dashboard</a></span>
</div>
{% endblock %}
