{% extends 'base.html.twig' %}

{% block title %}Available Exams{% endblock %}
{% block javascripts %}
  {% block importmap %}{{ importmap('student') }}{% endblock %}
{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}
{% block body %}

<div class="container available-exams-container">
  <div class="exams-available">
    <table class="table table-striped table-bordered">
    <thead>
      <td>Sl. No.</td>
      <td>Exam Name</td>
      <td>Exam Number</td>
      <td>Exam Duration</td>
      <td>Eligibility Marks</td>
      <td>Passing Marks</td>
      <td>Created By</td>
    </thead>
    {% for examInfo in exam %}
      <tr>
        <td>{{examInfo.id}}</td>
        <td>{{examInfo.ExamName}}</td>
        <td>{{examInfo.ExamNumber}}</td>
        <td>{{examInfo.ExamDuration}} hours</td>
        <td>{{examInfo.EligibilityMarks}}%</td>
        <td>{{examInfo.PassingMarks}}%</td>
        <td>{{examInfo.CreatedBy}}</td>
      </tr>
    {% endfor %}
  </div>
  </table>
  <span><a href="/student" class="btn btn-primary">Go to dashboard</a></span>
</div>
{% endblock %}
